<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit {{edit_user.full_name()}}</h1>
    <form action="/edit/update/{{edit_user.id}}" method="POST">
        Full Name: <input value="{{edit_user.full_name()}}" type="name" name="fname"><br>
        Email: <input value="{{edit_user.email}}" type="text" name="email"><br>
        <input type="submit"><br>
    </form>
</body>
</html>