<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Page</title>
</head>
<body>
    
    <form action="student/create" method="POST">
        Name: <input type="name" name="name"><br>
        Location: <select name = "location">
            <option value = Seattle>Seattle</option>
            <option value = DC>DC</option>
            <option value = SanDiego >San Diego</option>
        </select><br>
        Favorite Language: <select name = "fav_language">
            <option value = Python >Python</option>
            <option value = Java >Java</option>
            <option value = JavaScript > Java Script</option>
        </select><br>
        Comment: <input type="textarea" name="comment"><br>
        <input type="submit">
    </form>
        
</body>
</html>